# Ansible Managed

<VirtualHost *:80>
    ServerAdmin {{ misp_gpg_email }}
    ServerName {{ ansible_fqdn }}

    Redirect permanent / https://127.0.0.1

    LogLevel warn
    ErrorLog /var/log/httpd/misp_error.log
    CustomLog /var/log/httpd/misp_access.log combined

    Header always unset "X-Powered-By"

    ServerSignature Off
</VirtualHost>

Listen 443 https

<VirtualHost *:443>
    ServerAdmin {{ misp_gpg_email }}
    ServerName {{ ansible_fqdn }}
    DocumentRoot {{ misp_root }}/app/webroot
    <Directory {{ misp_root }}/app/webroot>
        Options -Indexes
        AllowOverride all
        Order allow,deny
        Allow from all
    </Directory>

    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
    DirectoryIndex /index.php index.php

    <IfModule !mod_php5.c>
    <IfModule !mod_php7.c>
        # Enable http authorization headers
        SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1

        <FilesMatch \.(php|phar)$>
            SetHandler "proxy:unix:/run/php-fpm/www.sock|fcgi://localhost"
        </FilesMatch>
    </IfModule>
    </IfModule>

    SSLEngine On
    SSLProtocol         All -SSLv2 -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite      ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    SSLHonorCipherOrder off
    SSLSessionTickets   off

    # enable HTTP/2, if available
    Protocols h2 http/1.1

    SSLCertificateFile {{ misp_tls_cert }}
    SSLCertificateKeyFile {{ misp_tls_key }}
{% if misp_tls_cachain is defined and misp_tls_cachain %}
    SSLCertificateChainFile {{ misp_tls_cachain }}
{% else %}
    #SSLCertificateChainFile /path/to/file
{% endif %}

    LogLevel warn
    ErrorLog /var/log/httpd/misp_error.log
    CustomLog /var/log/httpd/misp_access.log combined

    ServerSignature Off

    Header always set Strict-Transport-Security "max-age=31536000; includeSubdomains;"
    Header always set X-Content-Type-Options nosniff
    Header always set X-Frame-Options SAMEORIGIN 
    Header always unset "X-Powered-By"

    # TODO: Think about X-XSS-Protection, Content-Security-Policy, Referrer-Policy & Feature-Policy
    ## Example:
    # Header always set X-XSS-Protection "1; mode=block"
{% if misp_csp_sites is defined and misp_csp_sites | length > 0 %}
    Header always set Content-Security-Policy "default-src 'self'{% for site in misp_csp_sites %} {{ site }}{% endfor %} data: 'unsafe-inline' unsafe-eval'"
{% else %}
    # Header always set Content-Security-Policy "default-src 'none'; style-src 'self' ... script-src/font-src/img-src/connect-src
{% endif %}
    # Header always set Referrer-Policy "strict-origin-when-cross-origin"
    # Header always set Feature-Policy "geolocation 'self'; midi 'none'; notifications 'self'; push 'self'; sync-xhr 'self'; microphone 'none'; camera 'self'; magnometer 'self'; gyroscope 'self'; speake 'none'; vibrate 'self'; fullscreen 'none'"
</VirtualHost>

# strongciphers4All! \o/
SSLUseStapling On
SSLStaplingCache "shmcb:logs/ssl_stapling(32768)"
